body {
    font-family: 'Libre Franklin', Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.search_bar {
    display: flex;
    align-items: center;
    background: #d3d3d3; 
    padding: 5px;
    border-radius: 25px;
    box-shadow: none; 
}
.search_bar input {
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    border-radius: 25px 0 0 25px;
    background: #d3d3d3;
    color: black; 
}

.search_bar button {
    border: none;
    background: #d3d3d3; 
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}

.search_bar button:hover {
    background: #a9a9a9; 
}

.navbar {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 2px solid gray; 
    border-bottom:  2px solid gray;
}

.navbar p {
    color: black;
    font-weight: bold;
}

.dropdown p {
    font-weight: bolder;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: lightgray;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.content_container {
    background-color: white; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px;
}

.left_section {
    width: 25%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.return_to_faculty_directory a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.return_to_faculty_directory a:hover{
    text-decoration: underline;
    color:orange;
}

.professor_info {
    width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: none; 
    background: transparent; 
}

.professor_photo img {
    width: 100%; 
    max-width: 200px; 
}

.professor_contact_info {
    margin-top: 15px;
    font-size: 16px;
    color: black;
}

.professor_contact_info p:first-of-type {
    color: orange;
    font-weight: bold; 
}

#professor_email {
    color: orange;
    font-weight: bold;
}

.professor_content {
    width: 60%; 
    padding: 20px;
    border: none; 
    background: transparent; 
}

.research_areas p{
    color: orange;
}

.research_areas p:hover{
    color: orange;
    text-decoration: underline;
}

.research_groups p {
    color: orange;
}
.research_groups p:hover {
    color: orange;
    text-decoration: underline;
}

.google_scholar button{
        background-color: rgb(208, 103, 5);
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 10px; 
        font-size: 26px; 
      
}

.related_articles ul {
    list-style-type: disc;
    padding-left: 20px;
}

.related_articles li {
    margin-bottom: 5px;
}

.related_articles a {
    text-decoration: none;
    color: orange;
}

.related_articles a:hover {
    color: orange;
    text-decoration: underline;
}

.footer {
    background-color: grey; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    position: relative; 
    width: 100%;
    bottom: 0;
}

.footer_links {
    text-align: center;
}

.footer_links ul {
    list-style: none;
    padding: 0; 
    margin: 0 auto; 
    display: inline-block; 
}
.footer_links li {
    display: inline; 
}

.school_contact_list_images {
    text-align: center; 
}

.school_contact_list_images h1 {
    margin-bottom: 15px; 
}

.school_contact_list_images div {
    display: inline-block; 
    margin: 0 10px;
}

.school_contact_list_images img {
    width: 40px; 
    height: auto;
}